.body {
  background-image: url('./2393037.webp');
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.headline {
  text-align: center;
  margin: 50px 0;
  color: rgb(245, 128, 3);
  text-shadow: 3px 0px 7px rgb(218, 195, 170), -3px 0px 7px rgb(47, 180, 187);
}

.main__textarea {
  width: 650px;
  display: block;
  margin: 0 auto;
  height: 200px;
  border: 1px solid rgb(122, 180, 173);
  box-shadow: 13px 9px 32px -15px rgba(36, 126, 138, 1);
}

.main__keyboard {
  width: 850px;
  height: 400px;
  margin: 50px auto;
  /* padding: 20px; */
  background-image:
    linear-gradient(#00ffe5 20%, transparent 20%, transparent calc(400px - 20%), #00ffe5 calc(400px - 20%)),
    linear-gradient(90deg, #00ffe5 10%, transparent 10%, transparent calc(850px - 10%), #00ffe5 calc(850px - 10%)),
    linear-gradient(#00ffe5 20%, transparent 20%, transparent calc(400px - 20%), #00ffe5 calc(400px - 20%)),
    linear-gradient(90deg, #00ffe5 10%, transparent 10%, transparent calc(850px - 10%), #00ffe5 calc(850px - 10%));
  background-size: 5px 400px, 850px 5px, 5px 400px, 850px 5px;
  background-position: 0 0, 0 0, 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

.container__keyboard {
  position: relative;
  top: 18px;
  margin: 40px 20px 20px 22px;
  border-radius: 5px;
  border: 3px solid #00ffe5;
  width: 780px;
  height: 335px;
  padding: 10px;
}

.key {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #00ffe5;
  cursor: pointer;
}

.hide {
  display: none;
}